body {
  font-family: cursive;
  font-size: 14pt;
  text-align: center;
}

#puzzlearea {
  height: 400px;
  width: 400px;
  border: 1px solid red;
  font-size: 0; /* remove spacing between divs */
  text-align: left;
  margin: auto;
}

#puzzlearea div {
  font-size: 40pt;
  display: inline-flex;
  position: absolute;
  justify-content: center;
  height: 90px;
  width: 90px;
  border: 5px solid black;
  color: white;
}

.one_one {
  margin-left:0px;
  margin-top:0px;
}

.one_two {
  margin-left:100px;
  margin-top:0px;
}

.one_three {
  margin-left:200px;
  margin-top:0px;
}

.one_four {
  margin-left:300px;
  margin-top:0px;
}

.two_one {
  margin-left:0px;
  margin-top:100px;
}

.two_two {
  margin-left:100px;
  margin-top:100px;
}

.two_three {
  margin-left:200px;
  margin-top:100px;
}

.two_four {
  margin-left:300px;
  margin-top:100px;
}

.three_one {
  margin-left:0px;
  margin-top:200px;
}

.three_two {
  margin-left:100px;
  margin-top:200px;
}

.three_three {
  margin-left:200px;
  margin-top:200px;
}

.three_four {
  margin-left:300px;
  margin-top:200px;
}

.four_one {
  margin-left:0px;
  margin-top:300px;
}

.four_two {
  margin-left:100px;
  margin-top:300px;
}

.four_three {
  margin-left:200px;
  margin-top:300px;
}

.four_four {
  margin-left:300px;
  margin-top:300px;
}
