body {
  font-family: cursive;
  font-size: 14pt;
  text-align: center;
}

#puzzlearea {
  height: 400px;
  width: 400px;
  font-size: 0; /* remove spacing between divs */
  text-align: left;
  margin: auto;
}

#puzzlearea div {
  font-size: 40pt;
  display: inline-flex;
  position: absolute;
  justify-content: center;
  background-image: url('background.jpg');
  height: 90px;
  width: 90px;
  transition: margin 0.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.standard {
  border: 5px solid black;
  color: white;
}

.valid:hover {
  border-color: red;
  color: red;
}
